/* styles.css */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #2e3b4e; /* Moss Green Background */
    color: #fff; /* White text */
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    text-align: center;
    margin-top: 20px; /* Add some space between header and form */
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally within the form */
  }
  
  #textInput {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 2px solid #4caf50; /* Green border */
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50; /* Green button */
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hover animation */
    margin-top: 10px; /* Add some space between input and button */
  }
  
  button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  